.container {
  width: 1080px;
  padding: 0 1.5rem;
  text-align: center;
  margin: auto;
  overflow: hidden;
}

.border-line {
  width: 100px;
  height: 10px;
  background-color: #140024;
  margin: 2rem auto;
}

.py-1 {
  padding: 1rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.py-5 {
  padding: 5rem 0;
}

.my-5 {
  margin: 5rem 0;
}

.py-6 {
  padding: 6rem 0;
}

.my-6 {
  margin: 6rem 0;
}

.py-7 {
  padding: 7rem 0;
}

.my-7 {
  margin: 7rem 0;
}

.py-8 {
  padding: 8rem 0;
}

.my-8 {
  margin: 8rem 0;
}

.py-9 {
  padding: 9rem 0;
}

.my-9 {
  margin: 9rem 0;
}

.py-10 {
  padding: 10rem 0;
}

.my-10 {
  margin: 10rem 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #262626;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul {
  list-style-type: none;
}

#header-home {
  background: #9f2f2f;
  position: fixed;
  width: 100%;
  color: #fff;
  z-index: 1;
}

#header-home #main-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header-home #main-nav #logo {
  position: absolute;
  top: -47px;
  left: -2px;
  width: 115px;
  height: 115px;
}

#header-home #main-nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-home #main-nav .nav-links .special-color {
  background-color: #140024;
  padding: 0.5rem;
  border-radius: 10px;
}

#header-home #main-nav .nav-links li {
  margin-left: 2rem;
}

#header-home #main-nav .nav-links li a {
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header-home #main-nav .nav-links li a:hover {
  color: #a6a6a6;
}

#content {
  padding-top: 1rem;
}

#content .breadcrumbs {
  padding-top: 2rem;
  position: relative;
}

#content .breadcrumbs .breadcrumbs-item {
  position: absolute;
  top: 4rem;
  left: 25%;
}

#content .breadcrumbs .breadcrumbs-item .breadcrumbs-link {
  color: #bfbfbf;
  text-decoration: none;
}

#content .container {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#content .main-content {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
}

#content .main-content .create-post {
  width: 85%;
  height: 200px;
  background-color: #fff;
}

#content .main-content .article .article-content {
  color: #fff;
  font-size: 0.9rem;
  text-align: left;
}

#content .main-content .article .article-content .article-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #383838;
  max-width: 85%;
  padding: 0.5rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-bottom: 0.5rem;
}

#content .main-content .article .article-content .article-title .article-avatar {
  padding: 0;
  margin: 0 1rem;
  height: 40px;
  width: 40px;
  background-color: #9f2f2f;
}

#content .main-content .article .article-content .article-details {
  max-width: 85%;
  color: #bfbfbf;
}

#content .main-content .article .article-content .article-details .article-category .article-category-details {
  font-size: 0.8rem;
  color: white;
}

#content .main-content .article .article-content .article-image {
  margin: 1rem 0;
  max-width: 85%;
  background-color: #9f2f2f;
}

#content .sidebar-content {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

#content .sidebar-content img {
  width: 100%;
  height: 1000px;
}

#contact-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5rem 0 1rem 0;
}

#contact-section h2 {
  text-align: center;
  color: #fff;
}

#contact-section .contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 0.6rem;
  overflow: hidden;
}

#contact-section .contact-form .contact-form-text {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1rem 0;
  border: none;
  border-radius: 0.6rem;
  background: #111;
  padding: 1.5rem 3rem;
  outline: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#contact-section .contact-form .contact-form-text:focus {
  -webkit-box-shadow: 0 0 0.6rem 0.2rem #140024;
          box-shadow: 0 0 0.6rem 0.2rem #140024;
}

#contact-section .contact-form textarea.contact-form-text {
  resize: none;
  height: 200px;
}

#contact-section .contact-form .contact-form-btn {
  float: right;
  border: 0;
  background-color: #140024;
  color: #fff;
  padding: 0.8rem 3.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#contact-section .contact-form .contact-form-btn:hover {
  background-color: #4d008a;
}

#register-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5rem 0 1rem 0;
}

#register-section .register-form {
  max-width: 600px;
  margin: auto;
  padding: 0 0.6rem;
  overflow: hidden;
}

#register-section .register-form .control-form {
  position: relative;
}

#register-section .register-form .control-form i {
  visibility: hidden;
  position: absolute;
  top: 25px;
  right: 10px;
}

#register-section .register-form .control-form small {
  visibility: hidden;
  position: absolute;
  bottom: -25px;
  left: 10px;
}

#register-section .register-form .control-form .register-form-text {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1rem 0;
  border: none;
  border-radius: 0.6rem;
  background: #111;
  padding: 1.5rem 3rem;
  outline: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid;
  margin-top: 3rem;
}

#register-section .register-form .control-form .register-form-text:focus {
  -webkit-box-shadow: 0 0 0.8rem 0.2rem #140024;
          box-shadow: 0 0 0.8rem 0.2rem #140024;
}

#register-section .register-form .register-form-btn {
  float: right;
  border: 0;
  background-color: #140024;
  color: #fff;
  padding: 0.8rem 3.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 2rem;
}

#register-section .register-form .register-form-btn:hover {
  background-color: #4d008a;
}

#register-section h2 {
  text-align: center;
  color: #fff;
}

#register-section .control-form.success input.register-form-text {
  border-color: #2ecc71;
}

#register-section .control-form.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

#register-section .control-form.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

#register-section .control-form.error input.register-form-text {
  border-color: #e74c3c;
}

#register-section .control-form.error small {
  visibility: visible;
  color: #e74c3c;
}

#create-post {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5rem 0 1rem 0;
}

#create-post .create-post-picture {
  max-width: 600px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.6rem;
  overflow: hidden;
}

#create-post .create-post-picture .create-post-title {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1rem 0;
  border: none;
  border-radius: 0.6rem;
  background: #111;
  padding: 1.5rem 3rem;
  outline: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 3rem;
}

#create-post .create-post-picture .create-post-select {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1rem 0;
  border: none;
  border-radius: 0.6rem;
  background: #111;
  padding: 1.5rem 3rem;
  outline: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 3rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='40' viewBox='0 0 24 24' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 13px;
}

#create-post .create-post-picture .create-post-title:focus {
  -webkit-box-shadow: 0 0 0.8rem 0.2rem #140024;
          box-shadow: 0 0 0.8rem 0.2rem #140024;
}

#create-post .create-post-picture input[type="file"] {
  display: none;
}

#create-post .create-post-picture .custom-file-upload {
  display: block;
  margin-top: 3rem;
  padding-top: 3rem;
  height: 76px;
  width: 100%;
  border: none;
  border-radius: 0.6rem;
  background: #111;
  color: #fff;
  cursor: pointer;
}

#create-post .create-post-picture .create-post-btn {
  float: right;
  border: 0;
  background-color: #140024;
  color: #fff;
  padding: 0.8rem 3.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 1rem;
}

#create-post .create-post-picture .create-post-btn:hover {
  background-color: #4d008a;
}

#create-post .create-post-select-menu {
  margin-top: 4rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#create-post .create-post-select-menu .active {
  color: #2ecc71;
}

#create-post .create-post-select-menu i,
#create-post .create-post-select-menu a {
  color: #9f2f2f;
  text-decoration: none;
  display: block;
}

#create-post span {
  color: #fff;
  font-size: 1.1rem;
}

#create-post h2,
#create-post p {
  color: #fff;
}

#footer-main {
  background-color: #9f2f2f;
}

#footer-main .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer-main .container ul li {
  padding: 0.2rem 0.7rem;
}

#footer-main .container ul li a,
#footer-main .container ul li span {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
}

#footer-main .container ul li a:hover {
  color: #a6a6a6;
}
/*# sourceMappingURL=main.css.map */