@import "variables";
@import "config";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background-color: $main-color;
  line-height: 1.6;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

ul {
  list-style-type: none;
}
// Header
#header-home {
  background: $secondary-color;
  position: fixed;
  width: 100%;
  color: #fff;
  z-index: 1;

  #main-nav {
    position: relative;
    #logo {
      position: absolute;
      top: -47px;
      left: -2px;
      width: 115px;
      height: 115px;
    }
    display: flex;
    justify-content: space-between;
    .nav-links {
      .special-color {
        background-color: $special-color;
        padding: 0.5rem;
        border-radius: 10px;
      }

      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin-left: 2rem;
        a {
          text-decoration: none;
          align-items: center;
          color: #fff;
          transition: all 0.5s;
        }
        a:hover {
          color: lighten($main-color, 50%);
        }
      }
    }
  }
}
// Main section
#content {
  // Breadcrumbs
  .breadcrumbs {
    padding-top: 2rem;
    position: relative;
    .breadcrumbs-item {
      position: absolute;
      top: 4rem;
      left: 25%;
      .breadcrumbs-link {
        color: lighten($main-color, 60%);
        text-decoration: none;
      }
    }
  }
  padding-top: 1rem;
  .container {
    padding-top: 5rem;
    display: flex;
  }
  // Main content
  .main-content {
    flex: 70%;
    .create-post {
      width: 85%;
      height: 200px;
      background-color: #fff;
    }
    .article {
      .article-content {
        color: #fff;
        font-size: 0.9rem;
        text-align: left;

        .article-title {
          display: flex;
          background-color: lighten($main-color, 7%);
          max-width: 85%;
          padding: 0.5rem 0;
          align-items: center;
          text-align: left;
          margin-bottom: 0.5rem;

          img {
            padding: 0;
            margin: 0 1rem;
            height: 40px;
            width: 40px;
          }
        }

        .article-details {
          max-width: 85%;
          color: lighten($main-color, 60%);
          .article-category {
            .article-category-details {
              font-size: 0.8rem;
              color: white;
            }
          }
        }

        img {
          margin: 1rem 0;
          max-width: 85%;
          background-color: $secondary-color;
        }
      }
    }
  }

  .sidebar-content {
    flex: 20%;
    img {
      width: 100%;
      height: 1000px;
    }
  }
}

// Contact
#contact-section {
  flex: 1;
  padding: 5rem 0 1rem 0;
  h2 {
    text-align: center;
    color: #fff;
  }

  .contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 0.6rem;
    overflow: hidden;
    .contact-form-text {
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin: 1rem 0;
      border: none;
      border-radius: 0.6rem;
      background: #111;
      padding: 1.5rem 3rem;
      outline: none;
      color: #fff;
      transition: 0.5s;
    }
    .contact-form-text:focus {
      box-shadow: 0 0 0.6rem 0.2rem $special-color;
    }
    textarea.contact-form-text {
      resize: none;
      height: 200px;
    }
    .contact-form-btn {
      float: right;
      border: 0;
      background-color: $special-color;
      color: #fff;
      padding: 0.8rem 3.5rem;
      border-radius: 1.5rem;
      cursor: pointer;
      transition: 0.5s;
    }
    .contact-form-btn:hover {
      background-color: lighten($special-color, 20%);
    }
  }
}

// Register form
#register-section {
  flex: 1;
  padding: 5rem 0 1rem 0;
  .register-form {
    max-width: 600px;
    margin: auto;
    padding: 0 0.6rem;
    overflow: hidden;
    .control-form {
      position: relative;
      i {
        visibility: hidden;
        position: absolute;
        top: 25px;
        right: 10px;
      }

      small {
        visibility: hidden;
        position: absolute;
        bottom: -25px;
        left: 10px;
      }
      input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 3rem 0;
        border: 1px solid;
        border-radius: 0.6rem;
        background: #111;
        padding: 1.5rem 3rem;
        outline: none;
        color: #fff;
        transition: 0.5s;
      }

      .register-form-text:focus {
        box-shadow: 0 0 0.8rem 0.2rem $special-color;
      }
    }

    .register-form-btn {
      float: right;
      border: 0;
      background-color: $special-color;
      color: #fff;
      padding: 0.8rem 3.5rem;
      border-radius: 1.5rem;
      cursor: pointer;
      transition: 0.5s;
    }
    .register-form-btn:hover {
      background-color: lighten($special-color, 20%);
    }
  }
  h2 {
    text-align: center;
    color: #fff;
  }
  .control-form.success input {
    border-color: $active-color;
  }
  .control-form.success i.fa-check-circle {
    visibility: visible;
    color: $active-color;
  }
  .control-form.error i.fa-exclamation-circle {
    visibility: visible;
    color: $error-color;
  }
  .control-form.error input {
    border-color: $error-color;
  }
  .control-form.error small {
    visibility: visible;
    color: $error-color;
  }
}

// Create post form

#create-post {
  flex: 1;
  padding: 5rem 0 1rem 0;

  .create-post-picture {
    max-width: 600px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.6rem;
    overflow: hidden;
    .create-post-title {
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin: 3rem 0;
      border: none;
      border-radius: 0.6rem;
      background: #111;
      padding: 1.5rem 3rem;
      outline: none;
      color: #fff;
      transition: 0.5s;
    }
    select {
      display: block;
      cursor: pointer;
      width: 100%;
      box-sizing: border-box;
      margin: 3rem 0;
      border: none;
      border-radius: 0.6rem;
      background: #111;
      padding: 1.5rem 3rem;
      outline: none;
      color: #fff;
      transition: 0.5s;
      appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='40' viewBox='0 0 24 24' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 13px;
    }
    .create-post-title:focus {
      box-shadow: 0 0 0.8rem 0.2rem $special-color;
    }

    input[type="file"] {
      display: none;
    }
    .custom-file-upload {
      display: block;
      margin-top: 2rem;
      padding-top: 3rem;
      height: 76px;
      width: 100%;
      border: none;
      border-radius: 0.6rem;
      background: #111;
      color: #fff;
      cursor: pointer;
    }
    .create-post-btn {
      float: right;
      margin-top: 1rem;
      border: 0;
      background-color: $special-color;
      color: #fff;
      padding: 0.8rem 3.5rem;
      border-radius: 1.5rem;
      cursor: pointer;
      transition: 0.5s;
    }
    .create-post-btn:hover {
      background-color: lighten($special-color, 20%);
    }
  }

  .create-post-select-menu {
    margin-top: 4rem;
    justify-content: space-around;
    display: flex;
    .active {
      color: $active-color;
    }
    i,
    a {
      color: $secondary-color;
      text-decoration: none;
      display: block;
    }
  }
  span {
    color: #fff;
    font-size: 1.1rem;
  }

  h2,
  p {
    color: #fff;
  }
}

// Footer main
#footer-main {
  background-color: $secondary-color;
  .container {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        padding: 0.2rem 0.7rem;
        a,
        span {
          text-decoration: none;
          color: #fff;
          font-size: 0.8rem;
        }
        a:hover {
          color: lighten($main-color, 50%);
        }
      }
    }
  }
}
